.shareIcon {
	cursor: pointer;
	width: 20px;
	height: 20px;
	background: url(../img/icons/share_icon.svg);
	background-size: contain;
	display: block;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	right: -26px;
}