$number-font-color: #946321;

$border-button-color: #946321;
$button-font-color: #946321;

$share-font-color: #dedede;

$nav-font-color: #dedede;
$nav-font-color-hover: #946321;

$section-font-color: #dedede;
