
@import "normalize";
@import "animate";

@import "variables";
@import "fonts";

@import "mouse";
@import "share";

html,body {width: 100%; height: 100%; position: relative; color: #fff;}

div,li {outline: 1px dotted red;}

ol, ul {
	list-style: none;
}

.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.phenix-contaner-fluid {
	width: 100%;
}
.phenix-contaner {
	width: 1170px; margin: 0 auto;
}

.background-section-1 {background: url(../img/backgrounds/bg-1.jpg) no-repeat center transparent;background-size: cover;}
.background-section-2 {background: url(../img/backgrounds/bg-2.jpg) no-repeat center transparent;background-size: cover;}
.background-section-3 {background: url(../img/backgrounds/bg-3.jpg) no-repeat center transparent;background-size: cover;}
.background-section-4 {background: url(../img/backgrounds/bg-4.jpg) no-repeat center transparent;background-size: cover;}
.background-section-5 {background: url(../img/backgrounds/bg-5.jpg) no-repeat center transparent;background-size: cover;}
.background-section-6 {background: url(../img/backgrounds/bg-6.jpg) no-repeat center transparent;background-size: cover;}
.background-section-7 {background: url(../img/backgrounds/bg-7.jpg) no-repeat center transparent;background-size: cover;}

.section-text {
	width: 540px; padding-right: 38px;
	position: absolute; right: 0; top: 160px;
	@include HelveticaNeueCyrLight;
	color: $section-font-color;
}
h1.section-text__title {
	font-size: 60px; font-weight: normal;
}
p.section-text__text {
	font-size: 30px;
}

/* logo */
.logo {
	width: 301px; height: 84px;
	position: absolute; z-index: 9999; left: 38px; top: 40px;
	background: url(../img/logo.png) no-repeat center transparent;
	background-size: 100% 100%;
}
/* /logo */

/* button bid */
a.button {
	position: absolute; z-index: 9999; right: 38px; bottom: 40px; padding: 8px 66px;
	border: 3px solid $border-button-color;
	@include HelveticaNeueCyrBold; font-size: 20px; color: $button-font-color; text-decoration: none; 
}
/* /button bid */

/* phone number */
a.phone-number {
	position: absolute; z-index: 9999; right: 38px; top: 40px;
	@include HelveticaNeueCyrRoman; font-size: 30px; color: $number-font-color; text-decoration: none;  
}
a.phone-number:before {
	content: " ";
	display: block;
	width: 30px; height: 30px;
	background: url(../img/icons/phone.png) no-repeat center transparent;background-size: cover;
	position: absolute; top: 2px; left: -40px
}
/* /phone number */

/* share social */
a.share {
	position: absolute; z-index: 9999;
	bottom: 40px;
	left: 38px;
	@include HelveticaNeueCyrLight;
	font-size: 16px;
	text-decoration: none; color: $share-font-color;
}
/* /share social */


/* navigation */
nav {
	display: inline-block; position: absolute; z-index: 9999; top: 50%; margin-top: -200px;
	ul {
		padding: 0; margin: 20px 0;
		li {
			height: 100px;
			a {
				padding-left: 90px; line-height: 100px;
				display: block;
				height: 100%;
				@include HelveticaNeueCyrLight;
				font-size: 20px;
				color: $nav-font-color;
				text-decoration: none;
				-webkit-transition: all 0.3s;
				-o-transition: all 0.3s;
				transition: all 0.3s;
				font-size: 0px;
				&:hover {
					color: $nav-font-color-hover;
				}
			}
			&:hover a {
				font-size: 20px;
			}
		}
		li.characteristics {
			background: url(../img/nav/nav-1.png) no-repeat center transparent;background-size: 100px 100px; background-position: 0px 0px;
			&:hover {background: url(../img/nav/nav-1-hover.png) no-repeat transparent;background-size: 100px 100px; background-position: 0px 0px;}
			&.active {background: url(../img/nav/nav-1-hover.png) no-repeat transparent;background-size: 100px 100px; background-position: 0px 0px;}
		}
		li.technical {
			background: url(../img/nav/nav-2.png) no-repeat center transparent;background-size: 100px 100px; background-position: 0px 0px;
			&:hover {background: url(../img/nav/nav-2-hover.png) no-repeat transparent;background-size: 100px 100px; background-position: 0px 0px;}
			&.active {background: url(../img/nav/nav-2-hover.png) no-repeat transparent;background-size: 100px 100px; background-position: 0px 0px;}
		}
		li.photos {
			background: url(../img/nav/nav-3.png) no-repeat center transparent;background-size: 100px 100px; background-position: 0px 0px;
			&:hover {background: url(../img/nav/nav-3-hover.png) no-repeat transparent;background-size: 100px 100px; background-position: 0px 0px;}
			&.active {background: url(../img/nav/nav-3-hover.png) no-repeat transparent;background-size: 100px 100px; background-position: 0px 0px;}
		}
		li.order {
			background: url(../img/nav/nav-4.png) no-repeat center transparent;background-size: 100px 100px; background-position: 0px 0px;
			&:hover {background: url(../img/nav/nav-4-hover.png) no-repeat transparent;background-size: 100px 100px; background-position: 0px 0px;}
			&.active {background: url(../img/nav/nav-4-hover.png) no-repeat transparent;background-size: 100px 100px; background-position: 0px 0px;}
		}
	}
}
/* /navigation */

/* galery */

.galery {
	position: absolute;
	z-index: 9999;
	width: 1200px; height: 600px; top: 0; left: 0; bottom: 0; right: 0; margin: auto;
}
.galery__img-container {
	width: 280px; height: 280px; margin: 10px; float: left;
	img {
		width: 100%; height: 100%;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
	img:hover {
			filter: saturate(200%);
			-webkit-filter: saturate(200%);
			-moz-filter: saturate(200%);
			-o-filter: saturate(200%);
			-ms-filter: saturate(200%);
	}
}

/* /galery */